html, body {
    margin: 0;
    padding: 0;
}
canvas {
  display: block;
}
  
h1 {
  color: red;
  background-color: yellowgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}